Customer Feedback Analyser.json
{
  "name": "Feedback Analyser",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        16
      ],
      "id": "fb998977-c076-462c-89ac-28ca177d24e7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ANRovHy8yh89RuW2ghtoBzgNgG79ag-y-oDuUNi67u8",
          "mode": "list",
          "cachedResultName": "Customer feedback form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ANRovHy8yh89RuW2ghtoBzgNgG79ag-y-oDuUNi67u8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 147009890,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ANRovHy8yh89RuW2ghtoBzgNgG79ag-y-oDuUNi67u8/edit#gid=147009890"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        16
      ],
      "id": "ea97dff0-26b5-4329-ab52-6c42bc027a29",
      "name": "get form data",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vWIZjOo79iGhw9fS",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -80,
        16
      ],
      "id": "60956693-9939-4f2f-bbc4-17e5d3968cb6",
      "name": "Limit"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Email }}{{ $json['Feedback Category'] }}{{ $json['Your Suggestions'] }}{{ $json['Your Name'] }}{{ $json['Your feedback'] }}",
        "options": {
          "categories": "Positive, Neutral, Negative",
          "includeDetailedResults": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        128,
        16
      ],
      "id": "5c15e341-d484-4fe9-b38d-d3629131655b",
      "name": "Perform Sentiment Analysis"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        64,
        224
      ],
      "id": "a9e2b707-90a7-4ec7-8a74-0102b4cda170",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Akaa3OwBAu0FBPX1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an empethetic email writer. based on the Sentiment analysis performed generate a warm draft email with a subject and body to the customer based on the sentiment feedback(positive, negative, neutral). Reflect on the email and write the draft again, if required. Feeedback details: {{ $json.Email }}{{ $json['Feedback Category'] }}{{ $json['Your Suggestions'] }}{{ $json['Your Name'] }}{{ $json['Your feedback'] }}{{ $json.sentimentAnalysis.category }}\n\nFollow the below email format strictly with seperate fields.\nSubject\nBody\n\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        480,
        -96
      ],
      "id": "50e3f94f-049e-411b-a7c8-088c0a373bb5",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "DFyHhIa8sdcLbDnl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an expert AI assistant. You are tasked with creating a professional and concise email to the marketing team about the customer feedback and the sentiment category. Based on the details provided draft an email that summarizes the feedback Make sure to mention the sentiment analysis category in the email. provide below structured information is bullet format in the email.\nFeedback details: \nCustomer Name: {{ $json['Your Name'] }}{{ $json['Your feedback'] }}\nCustomer Email: {{ $json.Email }}\nFeedback Category: {{ $json['Feedback Category'] }}\nCustomer Suggestion: {{ $json['Your Suggestions'] }}\nSentiment Analysis category: {{ $json.sentimentAnalysis.category }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        480,
        144
      ],
      "id": "012c1a09-89c7-4a85-bee3-788971c61092",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "DFyHhIa8sdcLbDnl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('get form data').item.json.Email }}",
        "subject": "={{ $json.output[0].content[0].text.split('\\n\\n')[0] }}",
        "message": "={{ $json.output[0].content[0].text.split('\\n\\n').slice(1).join('\\n\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        -96
      ],
      "id": "86aed6c4-3e2b-441b-a135-c734c2b9540c",
      "name": "Send a message",
      "webhookId": "68db3455-aeb6-444a-b219-8ae88217a642",
      "credentials": {
        "gmailOAuth2": {
          "id": "RP22qKtfdh759SxF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sandydeek@gmail.com",
        "subject": "={{ $json.output[0].content[0].text.split('\\n\\n')[0] }}",
        "message": "={{ $json.output[0].content[0].text.split('\\n\\n').slice(1).join('\\n\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        144
      ],
      "id": "662b8fff-666e-446a-b8c4-03051a66e6c1",
      "name": "Send a message1",
      "webhookId": "fd0fa14b-dce9-49a9-9e7c-04496f6860b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "RP22qKtfdh759SxF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get form data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get form data": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Perform Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Perform Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Perform Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c769b0b1-36b3-494d-bc51-60b586d95f6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c98bf0712ad891cff6cd449e05335c31bfb7de24047b9bf00e1847521af982e8"
  },
  "id": "20l3SE134Tlz8kifbLiwR",
  "tags": []
}